

.balloon {
  width: 50px;

}

.container {
  flex-direction: column;
  display: flex;
  border: 3px;
}

.balloon-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-gap: 10px; /* gap between images */
}

.balloon-grid img {
  width: 50%;
  height: auto;
}

.money-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 columns */
  grid-gap: 10px; /* gap between images */
}

.money-grid h2 {
  background-color: aqua;
}

.body-grid {
  display: grid;
  grid-template-columns: 2fr 1fr; /* 3 columns */
  grid-gap: 10px; /* gap between images */

}