/* App page */

.bal-h1 {
  font-size: 5em;
  text-align: center;

  padding: 15px;
  margin:8px;

}

.div-first {
  background-color: rgb(230, 226, 185);

  border-radius:2%;
  box-shadow: 2 10px #999;
  padding: 8px;
  margin:12px;
  border-radius:15%;
  box-shadow: 0 9px #999;
} 


/* .container {
  flex-direction: column;
  display: flex;
  
} */

.balloon {
  width:50px
}

.balloon-grid {
  display: grid;

  grid-template-columns: repeat(4, 1fr); /* 3 columns */
  height: 45%;
  margin-right: 0px;
}

  
.balloon-grid img {
  width: 50%;
  height: auto;
}

.money-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
  height: 22%;
}


.money-grid h2 {
  background-color: rgb(255, 215, 95);
  border-style: solid ;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2em;
  margin: 2px;
  width: 6em;
  height:1.5em; 
  border-radius:40%;
  box-shadow: 10 12px #999;
  padding-top: 30px;
}

.body-grid {
  display: grid;
  grid-template-columns: 2fr 1fr; /* 3 columns */
  /* grid-gap: 10px; gap between images */

}

.header {
  display: flex;
  justify-content: center;
  margin: 30px; 
}

.header img {
  height: 150px;
}

.offer {
  text-align: center;
}

.offer p {
  font-size: 50px;
}

.offer h2 {
  font-size: 70px;
}
